.container {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 22px;
  background-color: rgb(207, 209, 211);
}

.h1 {
  font-family: "Metal Mania";
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}
