.navbar2 {
    color: white;
    font-size:100px;
    font-weight: bold;
    /* justify-content:center; */
    margin-top: -22px;
    padding-top: 200px;
    padding-left: 100px;
    font-family:'Times New Roman', Times, serif;
    transform: translateX(-100%);
    animation: slide-in-left 1s ease-in-out forwards;

    /* pulse animation  */
    /* animation: pulse 1s ease-in-out infinite; */
}
@keyframes slide-in-left {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }

  /* pulse animation  */
  /* @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  } */




.home{
    font-size: medium;
    
}
.store{
    font-size: medium;
    margin-inline: 100px;
}
.about{
    font-size: medium;
    margin-inline: 100px;
}


.button{
    /* font-display: white; */
    color: white;
    margin-right: -15px;
    padding:.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-width: 2px;   
   
}

/* .container1{
   ------
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;

} */


.totalAmount{
    color:deepskyblue;
    /* rgb(28, 191, 245) */
    font-size:22px;
    margin-top:-15px;
    margin-inline:1rem;
    font-family:'Times New Roman', Times, serif;

}



.bottomnavbar{
    color: white;
    margin-bottom: 0px;
  }


  
 